.main-tab {
  background-color: #2b3f6b;
  height: 50px;
}

.main-tab-wrap {
  display: flex;
  align-items: flex-end;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.main-tab-item {
  min-width: 150px;
  height: 35px;
  color: #aaaaaa;
  background-color: #f3f3f3;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.main-tab-item:hover {
  background-color: #eee;
}

.main-tab-item__active {
  color: black;
  background-color: white;
  font-weight: 600;
}

.main-body {
  background-color: red;
  height: 94.5vh;
}
