/* 모달 그림자 */
.modal-wrap {
  box-shadow: 0 0 4px #333;
  padding: 8px;
  border-radius: 4px;
}

/* 프로필 이미지 크기 조절 및 정렬 */
.img-fluid {
  width: 128px;
  height: 125px;
  border-radius: 8px;
}

.userDetailImg-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userDetail-top-wrap > div {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.userDetail-top-wrap > div > p {
  margin-bottom: 0;
}

.userDetail-top-wrap input {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 2px;
}

.userDetail-additional-wrap {
  display: flex;
  margin: auto;
  height: 529px;
}
.userDetail-additional-first {
  padding: 10px;
  flex: 0.2;
}
.userDetail-additional-first p {
  text-align: right;
  margin-top: 10px;
}
.userDetail-additional-second {
  padding: 10px;
  flex: 0.3;
}

.userDetail-additional-second input[type='text'],
.userDetail-additional-second input[type='date'] {
  height: 40.56px;
  width: 80%;
}
.userDetail-additional-second input[type='date'] {
  height: 40.56px;
  width: 38%;
}

.userDetail-additional-second select {
  height: 40.56px;
  width: 80%;
}

.userDetail-additional-therd {
  padding: 10px;
  flex: 0.2;
}

.userDetail-additional-therd p {
  text-align: right;
  margin-top: 10px;
}
.userDetail-additional-four {
  padding: 10px;
  flex: 0.3;
}
.userDetail-additional-four input[type='text'] {
  height: 40.56px;
  width: 80%;
}
.userDetail-additional-four select {
  height: 40.56px;
  width: 30%;
}
#selectBox {
  margin-left: 10px;
  width: 47%;
}

.CaptionCont .SelectBox .form-select .search {
  border-radius: 4px;
  height: 40.56px;
  border: 1px solid #dee2e6;
}
