.common-nav {
  background-color: #1c2335;
  width: 13%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.common-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.common-logo {
  background-image: url('/public/images/logo.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.common-nav-clock {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  padding-right: 25px;
  text-align: center;
  color: white;
  font-weight: 500;
  position: relative;
}

.common-nav-clock span {
  font-size: 14px;
  position: absolute;
  bottom: 25px;
  right: 70px;
}

.common-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.common-nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0px 15px;
  color: white;
  border-radius: 10px;
  line-height: 35px;
}

.common-nav-item a {
  width: 100%;
  text-decoration: none;
  padding-left: 10px;
}

.common-nav-link {
  width: 100%;
  height: 100%;
}

.common-nav__active {
  background-color: rgba(123, 142, 169, 0.2);
}

.nav-item a {
  color: white;
  font-size: 14px;
}

.common-logout {
  position: absolute;
  left: 4px;
  bottom: 10px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.common-logout div {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  line-height: 20px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: orange;
}

/* 공통 헤더 */
.common-header {
  width: 87%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.common-header__wrap {
  width: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.common-header__wrap i {
  font-size: 20px;
}

.common-profile {
  background-image: url('/public/images/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main {
  margin-top: 50px;
  margin-left: 13%;
  height: 94.5vh;
}

.p-20 {
  padding: 20px;
}
